<div class="container">
  <div class="navbar-header">
    <%= link_to root_path, class:"navbar-brand" do %>
      MENTOR<span>SHIP</span>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "How does it work?", how_path %></li>
      <li><%= link_to "Browse Students", root_path %></li>
      <li><%= link_to "Browse Mentors", root_path %></li>
      <% if current_user %>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Sign Out", logout_path %></li>
      <% else %>
        <li><%= link_to "Sign Up or Log In", lets_go_path %></li>
      <% end %>
      <!-- <li>{{#link-to 'students'}}Browse Students{{/link-to}}</li>
      <li>{{#link-to 'mentors'}}Browse Mentors{{/link-to}}</li>
      <li>{{#link-to 'sign-up'}}Sign up{{/link-to}}</li> -->
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
