<nav class="navbar navbar-default navbar-opaque">
  <%= render partial: "shared/navbar" %>
</nav>

<div class="container">
  <section class="page-header">
    <h1>MENTORS</h1>
    Here's a list of mentors! Click to get details!
  </section>
  <% @mentors.each do |mentor| %>
  <div class="col-md-4 mentor-panel">
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item index-image"><img src="<%= mentor.picture %>" width="100%" /></li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading mentor-name"><%= mentor.name %></h4>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">Location: <%= mentor.location %></h4>
          <h4 class="list-group-item-heading">Timezone: <%= mentor.timezone %></h4>
        </li>
        <li class="list-group-item">
          <p class="list-group-item-text"><%= link_to "View details about #{mentor.name}", mentor_path(mentor) %></p>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
